*{

    margin: 0;
    padding: 0;
    /*border-top: 3px solid #C9E0ED;*/

}

body {
    background: silver;
    font-family:Times New Roman;
    font-size: 14px;
    /*font: 14px 'trebuchet ms', arial, sans-serif;*/
}

#booking_ticket_area{	
    background-color:#F5F5F5;
    border:2px solid #A4A4A4;
    float:left;
    height:200px;
    width:285px;
    margin-left:-110px;
    margin-top:75px;
    padding-left: 10px;
    padding-top: 10px;
}

.printBookinName{
    float:left;
    margin-left:20px;
    margin-top:40px;
    padding-left: 10px;
    padding-top: 10px;
}

.printBookinbtn{
    float:left;
    margin-left: -50px;
    margin-top: 285px;
    padding-left: 10px;
    padding-top: 10px;
}
.printbusTicketsbtn{
    float:right;
    margin-right: -250px;
    margin-top: 35px;
    padding-right: 10px;
    padding-top: 10px;
}
#bus_ticket_area_main{
    float:right;
    margin-right:50px;
    margin-top:50px;
    width:285px;
    /*    padding-left: 10px;
        padding-top: 5px;*/
}

#bus_ticket_area{	
    background-color:#F5F5F5;
    border:2px solid #A4A4A4;
    float:right;
    height:85px;
    width:285px;
    margin:10px;
    /*    margin-top:50px;
        padding-left: 10px;*/
    padding: 5px;
}



.b_ticket_la{
    display: block;
    float: left;
    /*font-size: 15px;*/
    /*    margin-left:5px;
        margin-bottom: 0px;
        margin-top: -2px;*/
    width: 100px;
}

.b_ticket_la2{
    display: block;
    /*    float: left;
        font-size: 15px;
        margin-left:10px;*/
    /*    margin-bottom: 0px;
        margin-top: -2px;*/
    /*width: 100px;*/
}

form label { 
    display: block;
    float: left;
    margin-top: 5px; 
    margin-bottom: 5px; 
    width: 100px; 
    font-size: 15px;
}